body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    
    background-color: white;
    
}

p{
    color: red;
}

h1{
    color: black;
}

#formulario1{

    background-color: #E6E6E6;
    width: 500px;
    height: auto;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;

}
#formulario2{

    background-color: #E6E6E6;
    width: 500px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input,select{
    border-color: aquamarine;
    border-radius: 10px;
    border-width: 2px;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
    border-color: crimson;
    background:khaki;
    color: darkblue;
    font-weight: bold;
}
button{
    border-radius: 10px;
    border-width: 2px;
    background: crimson;
    border: none;
    width: 125px;
    height: 50px;
    color: white;
    font-family: Arial;
    font-size: medium;
    font-weight: bold;

}
#bo1{
    position: relative;
    alignment-adjust: auto;
    margin-left: 5%;
    border-radius: 10px;
    border-width: 2px;
    background: #5e5e5e;
    border: none;
    width: 125px;
    height: 50px;
    color: white;
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
}

.ui-datepicker-year,.ui-datepicker-month{
    border-color: #5e5e5e;
    border-radius: 5px;
    border-width: 1px;
    width: auto;
    height: auto;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
    border-color: white;
    background:white;
    color: black;
    font-weight: bold;
}