body{
    background-image: url("img/registro_estudiante.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
center{
    margin-top: 11%;
}
header{
    
    background-color: #d43f3a;
    
}

h1{
    color: black;
    font-family: Rosewood Std Regular;
}
input,select{
    border-color: aquamarine;
    border-radius: 10px;
    border-width: 2px;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
    border-color: crimson;
    background:khaki;
    color: darkblue;
    font-weight: bold;
}
button{
    border-radius: 10px;
    border-width: 2px;
    background: crimson;
    border: none;
    width: 125px;
    height: 50px;
    color: white;
    font-family: Arial;
    font-size: medium;
    font-weight: bold;

}

