textarea { 
    max-height:250px; 
    min-height:100px;
    max-width:250px; 
    min-width:100px;
}

body{
    /*background-image: url(../img/registroestudiante.jpg);*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav
{
    border-top: 2px solid #a94442;
    box-sizing: border-box;
    margin-top: 140px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #e0e0e0;
    padding-right: .25em;
    padding-top: 5px;
    position: absolute;
    left:-20em;
    transition: all .4s;
    z-index: 20;
    height: 81.7%;
}

nav.mostrar
{
    left:0;
}

.menu
{
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase; 
}

#mostrar-menu
{
    background-image: url(../img/menuplano.png);
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: cover;
    left: 22px;
    height: 42px;
    position: absolute;
    top: 6em;
    width: 42px;
    z-index: 30;
}

#menu
{
    list-style: none;
    line-height: 42px;
    padding-left: 0;
    width: 20em;
    /*outline: 1px solid red;*/
}

#menu a
{
    margin-left: .5em;
    color: black;
    text-decoration: none;
    text-transform: uppercase; 
    transition: all .6s;
    display: block;
    width: 100%;
}

#menu li
{
    box-shadow: 3px 0 #a94442 inset;
    margin-bottom: 5px;
    padding-left: 1.5em;
    /*outline: 1px solid green;*/
}

#menu li:hover
{
    margin-left: 1em; 
    box-shadow: 20em 0 #a94442 inset;
    margin-bottom: 5px;
    padding-left: 1.5em;
    transition: all .6s;
}

#me
{
    margin-right: 1em;
}

#logo
{
    margin-left: 250px;
}

header
{
    background-color: white;
    border-bottom: 2px solid #a94442;
}

p{
    color: red;
}

h1{
    color: black;
}

#formulario{

    background-color: #E6E6E6;
    width: 550px;
    height: auto;
    border-radius: 10px;

}

input,select{
    border-color: aquamarine;
    border-radius: 10px;
    border-width: 2px;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
    border-color: #a94442;
    background:khaki;
    color: darkblue;
    font-weight: bold;
}
button{
    border-radius: 10px;
    border-width: 2px;
    background: #a94442;
    border: none;
    width: 125px;
    height: 50px;
    color: white;
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
}

#bo1{
    position: relative;
    alignment-adjust: auto;
    margin-left: 5%;
    border-radius: 10px;
    border-width: 2px;
    background: #a94442;
    border: none;
    width: 125px;
    height: 50px;
    color: white;
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
}

.ui-datepicker-year,.ui-datepicker-month{
    border-color: #5e5e5e;
    border-radius: 5px;
    border-width: 1px;
    width: auto;
    height: auto;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
    border-color: white;
    background:white;
    color: black;
    font-weight: bold;
}